################################################################
#Name:config
#Desc: Kind config for exposing port 30000 of kind
#      cluster
################################################################
# cluster-config.yml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:

- role: control-plane
  extraMounts:
  - hostPath: <mbg-agent-path>/bin/plugins/bin 
    containerPath: /opt/cni/bin

networking:
  # the default CNI will not be installed
  disableDefaultCNI: true