apiVersion: v1
kind: Service
metadata:
  name: cl-svc
spec:
  type: NodePort
  selector:
    app: cl-dataplane
  ports:
    - port: 443
      targetPort: 443
      nodePort: 30443
      protocol: TCP
      name: http