---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cl-operator-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - update
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - clusterlink.net
  resources:
  - accesspolicies
  - exports
  - peers
  - privilegedaccesspolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - clusterlink.net
  resources:
  - exports/status
  - imports/status
  - peers/status
  verbs:
  - update
- apiGroups:
  - clusterlink.net
  resources:
  - imports
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - clusterlink.net
  resources:
  - instances
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - clusterlink.net
  resources:
  - instances/finalizers
  verbs:
  - update
- apiGroups:
  - clusterlink.net
  resources:
  - instances/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
