/*
Add styles or override variables from the theme here.
*/

html.smooth-scroll {
    scroll-behavior: smooth;
  }
  
  // Theme colors
  $primary: #4279f4;
  $secondary: #fff;
  $tertiary: #dee2e6;
  $dark: #213d7a;
  $info: #adb5bd;
  $light: #faaf40;
  
  // Nav bar colors
  $white: #fff;
  $navbar-dark-color: rgba($white, 1);
  $navbar-dark-hover-color: rgba($white, 0.75);
  $navbar-dark-active-color: $navbar-dark-color;
  
  .td-navbar .navbar-brand__name {
    display: none;
  }