name: PR check - CLI Installation test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cli-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - name: checkout
      uses: actions/checkout@v5
      with:
        fetch-tags: true
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
    - name: Install kind
      uses: helm/kind-action@v1.12.0
      with:
        install_only: true
    - name: Run build
      run: make build
    - name: Build docker images
      run: make docker-build
    - name: Run installation test using CLI
      run: ./tests/cli/basic_test.sh
    - name: upload e2e k8s test logs
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: tests-cli
        path: /tmp/clusterlink-cli
