name: PR check - e2e tests
on:
  pull_request:
    branches: [ main ]

jobs:
  e2e-connectivity-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.20']
        
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
    - name: Install kind
      uses: helm/kind-action@v1.5.0
      with:
        install_only: true
    - name: checkout
      uses: actions/checkout@v3
    - name: Run build
      run: make build
    - name: Build docker images
      run: make docker-build
    - name: Run e2e connectivity test on a kind cluster
      run: ./tests/k8s.sh
      timeout-minutes: 10
      uses: actions/upload-artifact@v3
      # For now enabling artifacts always, TODO: Change it to collect artifacts only upon failures
      if: always()
      with:
        name: e2e-logs-envoy
        path: e2e-logs-envoy
    - name: Run e2e connectivity test on a kind cluster with go dataplane
      run: ./tests/k8s.sh go
      timeout-minutes: 10
      uses: actions/upload-artifact@v3
      # For now enabling artifacts always, TODO: Change it to collect artifacts only upon failures
      if: always()
      with:
        name: e2e-logs-go
        path: e2e-logs-go
    - name: Run end-to-end tests
      run: make tests-e2e
      timeout-minutes: 10