name: PR check - e2e tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  e2e-connectivity-test:
    runs-on: ubuntu-latest
        
    steps:
    - name: checkout
      uses: actions/checkout@v5
      with:
        fetch-tags: true
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
    - name: Install kind
      uses: helm/kind-action@v1.12.0
      with:
        install_only: true
    - name: Run build
      run: make build
    - name: Build docker images
      run: make docker-build
    - name: Run e2e k8s test on a kind cluster
      run: CICD=1 ${{ runner.debug == '1' && 'DEBUG=1' || '' }} make tests-e2e-k8s
    - name: upload e2e k8s test logs
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: tests-e2e-k8s
        path: /tmp/clusterlink-k8s-tests
